# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv
models/
output/
videos/

sort/

#arquivos de video
sample.mp4
sample4.mp4
sample2.mp4
sample3.mp4

# coco models
yolov8n.pt
yolov8s.pt
